.main{
    display:flex;
}
  
.field-wrapper{
    background-color:black;
    display:inline-flex;
    margin-left: -2rem;
    padding: 10px;
}

.base {
    width: 0;
    height: 0;
    border: 1.5rem solid transparent;
    border-bottom-color: gray;
    position: relative;
    top: -1.5rem;
    }
.base:after {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: 1.5rem;
    width: 0;
    height: 0;
    border: 1.5rem solid transparent;
    border-top-color: gray;
}

.active{
    border-bottom-color: yellow;
}

.active:after{
    border-top-color: yellow;
}

.base-1, .base-3{
    margin-top:2rem;
}

.base-2{
    margin-right:-1rem;
    margin-left:-1rem;
}